# Image recognition program that returns the brand of a shoe

## Web scraping zalando

In [1]:
import os
from time import sleep
import numpy as np
import pandas as pd
from selenium import webdriver
from bs4 import *
import requests

In [2]:
path = r'C:\Users\Erik\ErikRepo\Project-Week-8-Final-Project\chromedriver.exe'

In [3]:
# Select each item
# item_selector = soup.select('.qMZa55.SQGpu8.iOzucJ.JT3_zV.DvypSJ')

In [4]:
# len(item_selector)
# 84

In [5]:
# os.mkdir('shoe pics')
i = 1

In [6]:
# img_links

### Brand name

In [7]:
# item_selector[0].select('.u-6V88.ka2E9k.uMhVZi.FxZV-M.uc9Eq5.pVrzNP.ZkIJC-.r9BRio.qXofat.EKabf7')[0].text

### Shoe name

In [8]:
# item_selector[0].select('.u-6V88.ka2E9k.uMhVZi.FxZV-M.z-oVg8.pVrzNP.ZkIJC-.r9BRio.qXofat.EKabf7')[0].text

### Price

In [9]:
# item_selector[0].select('.u-6V88.ka2E9k.uMhVZi.FxZV-M.z-oVg8.pVrzNP.cMfkVL')[0].text

In [10]:
# select an image
# item_selector[0].select('img[src^="https://img01.ztat.net/article/spp-media-p1/"]')[0]["src"]

In [11]:
brand_nike = []
name_nike = []
price_nike = []
url_nike = []
img_links_nike = []

In [12]:
# Nike webscraper

url_nike = 'https://www.zalando.co.uk/men/?q=nike+shoes&p='

for page in range(1,11):
    url_nike = 'https://www.zalando.co.uk/men/?q=nike+shoes&p='+str(page)
    browser = webdriver.Chrome(path)
    browser.get(url_nike)
    sleep(3)
    soup = BeautifulSoup(browser.page_source,'lxml')
    x = soup.select('img[src^="https://img01.ztat.net/article/spp-media-p1/"]')
    browser.close()
    item_selector = soup.select('.qMZa55.SQGpu8.iOzucJ.JT3_zV.DvypSJ')
    
    for img in x:
        img_links_nike.append(img['src'])

    for index, img_link in enumerate(img_links_nike):
        img_data_nike = requests.get(img_link).content
        with open('sneakers pics copy/nike pics copy/'+str(index+1)+'.jpg', 'wb+') as f:
            f.write(img_data_nike)

    for item in item_selector:
        try:
            brand_nike.append(item.select('.u-6V88.ka2E9k.uMhVZi.FxZV-M.uc9Eq5.pVrzNP.ZkIJC-.r9BRio.qXofat.EKabf7')[0].text)
            name_nike.append(item.select('.u-6V88.ka2E9k.uMhVZi.FxZV-M.z-oVg8.pVrzNP.ZkIJC-.r9BRio.qXofat.EKabf7')[0].text)        
            price_nike.append(item.select('.u-6V88.ka2E9k.uMhVZi.FxZV-M.z-oVg8.pVrzNP.cMfkVL')[0].text)
            url_nike.append('https://www.zalando.co.uk'+str(item.select('.g88eG_.oHRBzn.LyRfpJ.JT3_zV.g88eG_.ONArL-._2dqvZS.lfPP-F')[0]['href']))
        except:
            price_nike.append(item.select('.u-6V88.ka2E9k.uMhVZi.dgII7d.z-oVg8._88STHx.cMfkVL')[0].text)

In [13]:
len(brand_nike)

840

In [14]:
len(name_nike)

840

In [15]:
len(price_nike)

840

In [16]:
nike_copy = pd.DataFrame({'brand':brand_nike, 'name':name_nike, 'price':price_nike})

nike_copy.head(5)

,brand,name,price
0,Nike Sportswear,AIR FORCE 1 '07 - Trainers - white,£74.99
1,Nike Sportswear,AIR FORCE 1 '07 - Trainers - black,£74.99
2,Nike Sportswear,AIR MAX 2090 - Trainers - black/white/wolf gre...,£77.99
3,Nike Sportswear,REACT 55 SE - Trainers - black/dark grey,£114.99
4,Nike Sportswear,AIR FORCE 1 GTX UNISEX - Trainers - anthracite...,£129.99

In [17]:
nike_copy.to_csv('nike_shoes_copy.csv')

In [18]:
nike_copy['brand'].value_counts()

Nike Performance    486
Nike Sportswear     306
Nike SB              42
Nike Golf             6
Name: brand, dtype: int64

In [19]:
brand_adidas = []
name_adidas = []
price_adidas = []
url_adidas = []
img_links_adidas = []

In [20]:
# Adidas webscraper

url_adidas = 'https://www.zalando.co.uk/men/?q=adidas+shoes&p='

for page in range(1,13):
    url_adidas = 'https://www.zalando.co.uk/men/?q=adidas+shoes&p='+str(page)
    browser = webdriver.Chrome(path)
    browser.get(url_adidas)
    sleep(3)
    soup = BeautifulSoup(browser.page_source,'lxml')
    x = soup.select('img[src^="https://img01.ztat.net/article/spp-media-p1/"]')
    browser.close()
    item_selector = soup.select('.qMZa55.SQGpu8.iOzucJ.JT3_zV.DvypSJ')
    
    for img in x:
        img_links_adidas.append(img['src'])

    for index, img_link in enumerate(img_links_adidas):
        img_data_adidas = requests.get(img_link).content
        with open('sneakers pics copy/adidas pics copy/'+str(index+1)+'.jpg', 'wb+') as f:
            f.write(img_data_adidas)

    for item in item_selector:
        try:
            brand_adidas.append(item.select('.u-6V88.ka2E9k.uMhVZi.FxZV-M.uc9Eq5.pVrzNP.ZkIJC-.r9BRio.qXofat.EKabf7')[0].text)
            name_adidas.append(item.select('.u-6V88.ka2E9k.uMhVZi.FxZV-M.z-oVg8.pVrzNP.ZkIJC-.r9BRio.qXofat.EKabf7')[0].text)        
            price_adidas.append(item.select('.u-6V88.ka2E9k.uMhVZi.FxZV-M.z-oVg8.pVrzNP.cMfkVL')[0].text)
            url_adidas.append('https://www.zalando.co.uk'+str(item.select('.g88eG_.oHRBzn.LyRfpJ.JT3_zV.g88eG_.ONArL-._2dqvZS.lfPP-F')[0]['href']))
        except:
            price_adidas.append(item.select('.u-6V88.ka2E9k.uMhVZi.dgII7d.z-oVg8._88STHx.cMfkVL')[0].text)

In [31]:
import webbrowser

In [37]:
webbrowser.open('https://www.zalando.co.uk'+str(item_selector[0].select('.g88eG_.oHRBzn.LyRfpJ.JT3_zV.g88eG_.ONArL-._2dqvZS.lfPP-F')[0]['href']))

True

In [ ]:
item_selector[0].select('.g88eG_.oHRBzn.LyRfpJ.JT3_zV.g88eG_.ONArL-._2dqvZS.lfPP-F')[0]['href']

In [21]:
len(brand_adidas)

1008

In [22]:
len(name_adidas)

1008

In [23]:
len(price_adidas)

1008

In [24]:
adidas_copy = pd.DataFrame({'brand':brand_adidas, 'name':name_adidas, 'price':price_adidas})

adidas_copy.head(5)

,brand,name,price
0,adidas Performance,SAMBA LEATHER FOOTBALL SHOES INDOOR - Trainers...,£46.74
1,adidas Originals,X9000L3 BOOST SPORTS RUNNING SHOES UNISEX - Tr...,£52.50
2,adidas Originals,OZWEEGO - Trainers - core black/carbon,From £62.99
3,adidas Originals,LACOMBE - Trainers - footwear white/core black...,£42.50
4,adidas Originals,Trainers - core black/grey one/grey six,£40.00

In [25]:
adidas_copy.to_csv('adidas_shoes_copy.csv')

In [26]:
adidas_copy['brand'].value_counts()

adidas Performance    558
adidas Originals      445
adidas Golf             5
Name: brand, dtype: int64

In [27]:
adidas_copy.head(5)

,brand,name,price
0,adidas Performance,SAMBA LEATHER FOOTBALL SHOES INDOOR - Trainers...,£46.74
1,adidas Originals,X9000L3 BOOST SPORTS RUNNING SHOES UNISEX - Tr...,£52.50
2,adidas Originals,OZWEEGO - Trainers - core black/carbon,From £62.99
3,adidas Originals,LACOMBE - Trainers - footwear white/core black...,£42.50
4,adidas Originals,Trainers - core black/grey one/grey six,£40.00

In [28]:
# webcam
# adidas & nike as a first approach

In [41]:
adidas_copy.head(1050)

,brand,name,price
0,adidas Performance,SAMBA LEATHER FOOTBALL SHOES INDOOR - Trainers...,£46.74
1,adidas Originals,X9000L3 BOOST SPORTS RUNNING SHOES UNISEX - Tr...,£52.50
2,adidas Originals,OZWEEGO - Trainers - core black/carbon,From £62.99
3,adidas Originals,LACOMBE - Trainers - footwear white/core black...,£42.50
4,adidas Originals,Trainers - core black/grey one/grey six,£40.00
...,...,...,...
1003,adidas Originals,SUPERCOURT - Trainers - savannah/solar red,£55.99
1004,adidas Originals,COUNTRY OG SHOES - Trainers - white,£69.95
1005,adidas Originals,X_PLR - Trainers - core black/trace grey metallic,£52.49
1006,adidas Originals,RIVALRY - Trainers - footwear white/core black,From £69.95
1007,adidas Originals,SUPERSTAR FOUNDATION - Trainers - core black,£55.99